@tailwind base;
@tailwind components;
@tailwind utilities;


.not-found{
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

thead {
    background-color: gray;
    text-align: left;
    color: #fff;
}

.tableau{
    border-collapse: collapse;
    min-width: 900px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid gray;
}

th, td{
    padding: 15px 20px;
}

tbody tr, th, td {
    border: 1px solid #add;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}